/* Blur overlay */
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(50px);
    background-color: rgba(26, 22, 22, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .blur-message {
    font-size: 2rem;
    color: #ffff;
    text-align: center;
    padding: 1rem;
  }
  